A.semlink {
	cursor : crosshair;
}

body {  background-color: #3F181F}
.texto {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; color: #FFFFFF; background-color: #8F6F6F; text-align: justify; padding-left: 5px; padding-right: 5px}
.titulo {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-weight: bold; color: #8F6F6F}
.corred {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 50px; font-weight: bolder; color: #431A1F}
.corred2 { font-family: Georgia, "Times New Roman", Times, serif; font-size: 48px; font-weight: bolder; color: #FF9933}
.textored {
font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; color: #FFFFFF; background-color: #FF7D7D; text-align: justify; padding-left: 5px; padding-right: 5px
}
.titulored {
font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-weight: bold; color: #00FF00
}
.textogreen {

font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; color: #000000; background-color: #7DFF7D; text-align: justify; padding-left: 5px; padding-right: 5px
}
.titulogreen {

font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-weight: bold; color: #FF0000
}
.textoblue {


font-family: Georgia, "Times New Roman", Times, serif; font-size: 11px; color: #FFFFFF; background-color: #7D7DFF; text-align: justify; padding-left: 5px; padding-right: 5px
}
.tituloblue {


font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; font-weight: bold; color: #FFFF00
}
.textobluen {



font-family: Georgia, "Times New Roman", Times, serif; font-size: 10px; color: #FFFFFF; background-color: #7D7DFF; text-align: justify; padding-left: 5px; padding-right: 5px
}
.textogreenn {


font-family: Georgia, "Times New Roman", Times, serif; font-size: 10px; color: #000000; background-color: #7DFF7D; text-align: justify; padding-left: 5px; padding-right: 5px
}
.textogreenn {


font-family: Georgia, "Times New Roman", Times, serif; font-size: 10px; color: #000000; background-color: #7DFF7D; text-align: justify; padding-left: 5px; padding-right: 5px
}
.textoredn {

font-family: Georgia, "Times New Roman", Times, serif; font-size: 10px; color: #FFFFFF; background-color: #FF7D7D; text-align: justify; padding-left: 5px; padding-right: 5px
}
