html>
<head>
<title>quem paga o pre&ccedil;o da globaliza&ccedil;&atilde;o? os globais ou os 
locais?</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="javascript">
 window.focus();
function centraliza(x,y)
{
        window.resizeTo(x,y);
        window.moveTo((window.screen.width-x)/2,(window.screen.height-y)/2);
}

</script>
<style type="text/css">
<!--
body {  background-attachment: fixed; background-image:  url(../images/telef/telef0.jpg); background-repeat: no-repeat; background-position: left top}
-->
</style>
</head>

<body  text="#CCCC99" leftmargin="0" topmargin="0" bgcolor="#000000">
<table width="250" border="0" cellspacing="0" cellpadding="0" height="250">
  <tr> 
    <td align="left" valign="top"><a href="telef7.htm"><img src="../images/telef/wtc2.jpg" width="250" height="250" border="0"></a></td>
  </tr>
</table>
<br>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="1" height="1">
  <param name="movie" value="../musica/cash.swf">
  <param name="quality" value="high">
  <embed src="../musica/cash.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1" height="1"></embed></object>
</body>
</html>
